<nav class="navbar navbar-expand navbar-dark px-2">
    <div class="container-fluid">
        <div class="side-nav-button p-1 text-light" (click)="toggleSideNav()">
            <i class="bx bx-menu"></i>
        </div>
        <a class="navbar-brand px-4" href="#">Home Expense Manager</a>

        <div class="navbar-collapse">
            <div class="spacer"></div>
            <form action="" class="d-flex">

                <input type="search" class="form-control me-2" placeholder="Search">
                <button class="btn btn-outline-light" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>